.social
	margin-top 1em
	.btn-facebook
	.btn-twitter
		border-color transparent
		border-radius 4px
		color #fff
		display block
		position relative
		height 50px
		margin 0 auto .4em auto
		padding .75em 0.55em .55em 2.8em
		text-align left
		width 250px
		vertical-align top
		span
			border-right solid gris_claro 1px
			font-size 1.5em
			height 25px
			left 8px
			margin-right .4em
			padding-right 0.2em
			position absolute
			top 12px
	.btn-facebook
		background-color #3d5ab8
	.btn-twitter
		background-color #5fa9dd