.signin
	width 100%
	.login
	.create-account
		display inline-block
		margin .2em 0 1.5em 0
		width 49%
		a
			display block
			color gris_claro
			padding 0.8em 0
			width 100%
	.login
		border-right solid gris_claro 1px